.full {
    width: 100%;    
}
.gap {
	height: 30px;
	width: 100%;
	clear: both;
	display: block;
}
.footer {
	background: #252525;
	height: auto;
	position: absolute;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #DDDDDD;
	margin-top:90px;
}


.footer p {
	margin: 0;
}
.footer img {
	max-width: 100%;
}
.footer h3 {
	color: white;
	font-size: 12px;
	font-weight: 300;
	line-height: 14px;
	padding: 20px 0 0px;
	text-transform: uppercase;
  margin-bottom: 2px;
}

.footer h4 {
	color: white;
	font-size: 2em;
	font-weight: 300;
	line-height: 10px;
	padding: 40px 0 10px;
	font-family: cursive;
  font-weight: lighter
}

.footer ul {
	font-size: 12px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 0px;
	color: #7F8C8D;
  padding: 0 0 8px 0;
}

.email{
  border-bottom: 3px solid #fff;
}
.footer ul li a {
	padding: 0 0 3px 0;
	display: block;
}
.footer a {
	color: white;
  font-weight: lighter;
}

.footer p {
	color: white;
  font-weight: lighter;
}

.footer a:hover {
	text-decoration:none;
  font-weight: bold;
}
.supportLi h4 {
	font-size: 12px;
	font-weight: lighter;
	line-height: normal;
	margin-bottom: 0 !important;
	padding-bottom: 0;
}

.bg-gray {
	background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
	box-shadow: 0 1px 0 #B4B3B3;
}

.footer a {
	color: #78828D
}

.footer-bottom {
	border-top: 1px solid #DDDDDD;
	padding-bottom: 3px;
}
.footer-bottom p.pull-left {
	padding-top: 6px;
  font-size: 0.75em
}

#main {
	background-color: ivory;
}

  
