.card {
	border-radius: .0rem;
}
.card-header {
	
	font-size :13px;
	padding: .5rem.5rem;
    background-color:#fbf2ffc4;
    border-bottom: 0px solid rgba(0,0,0,.125)
}
.col-sm{
	padding-right: 5px;
    padding-left: 5px;
}
.list-group-item {
    
    background-color: #fff;
    border: 1px solid rgba(249, 244, 244, 0);
    padding: .0.7rem 0.7rem;
}
.list-group{
	font-size : 13px;
	
}
.login-find{
	font-size : 12px;
	color : black;
	margin-left: 12px;
}

.login-p {
	font-size :12px;
}
.login-a:link{
	text-decoration:none; color:white;
}
.login-a:visited{
	text-decoration:none; color:white;
}
.login-a:active{
	text-decoration:none; color:white;
}
.login-a:hover{
	text-decoration:none; color:white;
}
.login-a {

	text-decoration:none;
	
        font-size: 15px;
    font-weight: 700;
    display: block;
    margin-top: 11px;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 2px;
    background-color: rgb(0, 0, 0);
    }
    .login-div{
        padding: 16px 16px 12px 17px;
        border: 1px solid #dae1e6;
        background-color: #fbf2ffc4;
    }
    
    
    #card1 , #card2, #card3,
    #card1-img
    {
    border: 0px solid rgba(0,0,0,.125);
    }
    
    
    
    .nav-tabs{
    	
    	font-size : 13px;
    }
    
    #profileImage{
		width: 65px;
		height: 65px;
		border: 1px solid #cecece;
		border-radius: 50%;
		background-color: white;
	}
	.login-div2{
		font-size : 13px;
		
	}
	.login-email{
		font-size : 12px;
	}
	.login-nick{
		margin-top :3px;;
		margin-bottom: 10px;
	}
	.fhrmdkdnt{
		font-size : 13px;
		color : black;
		margin-left :20px;
	}
	
	#info-image{
	
	width: 150px;
		height: 150px;
		border: 1px solid #cecece;
		border-radius: 0%;
		background-color: white;
	}
	
	#profileForm{
		display:none;
	}
	
	.page-display a{
		text-decoration: none;	
		color:#000;
	}
	.page-display ul li{
		float:left;	/* 가로로 쌓이게 */
		list-style-type:none; /* disc 사라지게*/
		margin-right:10px;}	/*오른쪽 마진*/
		
	.page-display ul li.active{/* li 요소 이면서 active 클래스를 가지고 있는 요소*/
		text-decoration: underline;
		font-weight: bold;
	}
	.psge-display ul li.active a{
		color:red;
	}
	.dkssud{
		background-color: #fbf2ffc4;
	}
	.acolor{
		color : black;
	}
	.card-img-size {
    width: 250px;
    height : 250px;
    }